.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hidden {
	display: none;
}
.mask {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.65);
	background-size: 0 20vh;
}

.button-radius {
	border-bottom-left-radius: 30rpx;
	border-bottom-right-radius: 30rpx;
}

.content {
	position: relative;
	top: -50px;
	width: 60vw;
	box-sizing: border-box;
	padding: 0 50rpx;
	font-family: Source Han Sans CN;
	background-color: #fff;
}

.text {
	display: block;
	line-height: 200px;
	text-align: center;
	color: #ffffff;
}

.content-top {
	position: absolute;
	top: -90px;
	left: 0;
	width: 60vw;
}

.content-top-text {
	font-size: 45rpx;
	font-weight: bold;
	color: #f8f8fa;
	z-index: 1;
	position: absolute;
	top: 50px;
	left: 15px;
}

.content-body {
	position: absolute;
	top: 0;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 20px;
}
.body {
	margin-top: 20px;
	margin-left: 22px;
	font-size: 13px;
}
.box-des-scroll {
	box-sizing: border-box;
	padding: 0 40rpx;
	height: 200rpx;
	text-align: left;
}

.box-des {
	font-size: 26rpx;
	color: #333;
	line-height: 50rpx;
}

.progress-box {
	width: 100%;
}

.progress {
	width: 90%;
	height: 40rpx;
	/* border-radius: 35px; */
}
.footer {
	margin-top: 40px;
}
.close-img {
	width: 10vw;
	z-index: 1000;
	position: absolute;
	bottom: -120rpx;
	left: calc(50% - 70rpx / 2);
}

.content-button {
	text-align: center;
	flex: 1;
	font-size: 40rpx;
	font-weight: 400;
	color: #ffffff;
	border-radius: 40px;
	margin: 0 18px;
	height: 30px;
	line-height: 30px;

	background: linear-gradient(to right, #1785ff, #3da7ff);
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}