.u-no-network {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.u-inner {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -15%;
}

.u-tips {
	color: #909399;
	font-size: 28rpx;
	padding: 30rpx 0;
}

.u-error-icon {
	width: 40vw;
}

.u-to-setting {
	color: #c0c4cc;
}

.u-setting-btn {
	color: #2979ff;
}

.u-retry {
	margin-top: 30px;
	border: 1px solid #909399;
	color: #909399;
	width: 20vw;
	padding: 3px;
	text-align: center;
	border-radius: 3px;
}

.u-retry-hover {
	color: #fff;
	background-color: #909399;
}

.change-tips {
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	z-index: 1987;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.change-tips.hidden {
	display: none;
}

.change-tips span {
	margin-top: 2px;
	animation: jump 1s ease-in-out infinite;
}

.change-tips span:nth-child(2) {
	animation-delay: 0.17s;
}

.change-tips span:nth-child(3) {
	animation-delay: 0.34s;
}

@keyframes jump {
	0% {
		margin-top: 2px;
	}

	25% {
		margin-top: -3px;
	}

	50% {
		margin-top: 2px;
	}
}
